<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RentTalk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6BD660DF1DBE3CD900D1FE6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BD660F51DBE3CDC00D1FE6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BD661001DBE3CDC00D1FE6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
